<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="public/css/starter.css">
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"> -->
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIt2</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">LogIt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/materialpage" class="nav-link">Materials</a>
                    </li>
                    <li class="nav-item">
                        <a href="#learn" class="nav-link">Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#learn" class="nav-link">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Showcase -->
    <section class="bg-dark text-light p-5 text-center h-100">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>The Future Of <span class="text-warning"> Jobsite Materials </span>Tracking</h1>

                    <ul class="lead my-4 pl-0 m-auto w-75">
                        <li> Know how much and what type of materials are at all locations whether in use or storage</li>
                        <li> Get warnings at predefined amounts or percents</li>
                        <li> Increase accountability by knowing who deposited or withdrew</li>
                    </ul>
                    <button class="btn btn-primary btn-lg">Sign Up</button>
                </div>
                <img class="img-fluid w-50 p-2" src="public/img/showcase.svg" alt="">
            </div>
        </div>



    <!-- Original ejs code -->
<!--     
    <h1>Inventory</h1>
    <ul class="materials">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="material">
            <span><%= info[i].brand %></span>
            <span><%= info[i].product %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Material:</h2>
    <form action="/addMaterial" method="POST">
        <input type="text" placeholder="Brand" name="brand">
        <input type="text" placeholder="Product" name="product">
        <input type="submit" class="btn btn-outline-primary">
    </form> -->
    

    <script src='public/js/main.js'></script>
    <!-- bootstrap js -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
